/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 4, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 6, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 10, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 18, ../scss/style.scss */
body {
  background: #a1a1a1;
}

/* line 22, ../scss/style.scss */
header {
  background: #000000;
  padding: 20px;
}
/* line 26, ../scss/style.scss */
header img {
  margin: 0 auto;
  display: block;
  height: 50px;
}
/* line 32, ../scss/style.scss */
header ul {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}
/* line 40, ../scss/style.scss */
header li {
  list-style: none;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 47, ../scss/style.scss */
header h2 {
  margin: 0;
}
/* line 51, ../scss/style.scss */
header a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

/* line 58, ../scss/style.scss */
footer {
  height: 50px;
  width: 100%;
  margin-top: 15px;
  background: #000000;
  float: right;
}

/* line 66, ../scss/style.scss */
h1, h2, h3, h4, h5, p {
  font-family: "Helvetica", serif;
  font-weight: normal;
  font-size: 1em;
}

/* line 72, ../scss/style.scss */
a {
  color: #000000;
}

/* line 76, ../scss/style.scss */
h1 {
  font-weight: bold;
  color: #000000;
  margin: 0;
}

/* line 82, ../scss/style.scss */
h3 {
  text-decoration: underline;
}

/* line 86, ../scss/style.scss */
h5 {
  font-style: italic;
  margin: 0;
}

/* line 91, ../scss/style.scss */
p {
  margin-top: 5px;
}

/* line 107, ../scss/style.scss */
.banner {
  width: 100%;
  text-align: center;
  box-shadow: 0px 7px 5px #888888;
}
/* line 112, ../scss/style.scss */
.banner h1 {
  font-weight: 400;
  color: #ffffff;
  background: #2c2c2c;
  font-size: 1.1em;
  padding: 15px;
}

/* line 121, ../scss/style.scss */
.font {
  border-top: dotted 1px black;
  border-bottom: dotted 1px black;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 50px;
  text-align: center;
}

/* line 130, ../scss/style.scss */
.card {
  margin: 20px;
  display: block;
  background: #ffffff;
  box-shadow: 0px 7px 5px #888888;
}

/* line 137, ../scss/style.scss */
.source {
  padding-top: 10px;
  padding-bottom: 20px;
  background: #2c2c2c;
}
/* line 141, ../scss/style.scss */
.source h1 {
  text-align: center;
}
/* line 148, ../scss/style.scss */
.source a {
  color: #ffffff;
  font-size: 1em;
  font-weight: normal;
}

/* line 156, ../scss/style.scss */
ul.source {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 165, ../scss/style.scss */
li a.button {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 179, ../scss/style.scss */
li:last-child .button {
  padding-top: 0;
}
/* line 182, ../scss/style.scss */
li:last-child .button:hover {
  background: #454545;
  transition: background .6s ease;
  padding-top: 20px;
}

/* line 188, ../scss/style.scss */
.button:hover {
  background: #454545;
  transition: background .6s ease;
  padding-top: 20px;
}

/* line 195, ../scss/style.scss */
.intro_img {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

/* line 202, ../scss/style.scss */
.img_box {
  float: left;
  width: 100%;
}
/* line 205, ../scss/style.scss */
.img_box img {
  max-width: 100%;
  margin: 0 auto;
  max-height: 200px;
  display: block;
}

/* line 213, ../scss/style.scss */
.text_box {
  float: right;
  width: 100%;
}

/* line 218, ../scss/style.scss */
.info_box {
  float: right;
  margin: 20px;
}
/* line 221, ../scss/style.scss */
.info_box img {
  max-width: 90%;
  margin: 0 auto;
  display: block;
}
/* line 227, ../scss/style.scss */
.info_box h2 {
  font-weight: bolder;
  font-size: 1.2em;
  margin-top: 0;
}
/* line 233, ../scss/style.scss */
.info_box h3 {
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 241, ../scss/style.scss */
.text {
  padding: 20px;
}

/* line 245, ../scss/style.scss */
section {
  margin-bottom: 40px;
}

@media (min-width: 200px) {
  /* line 250, ../scss/style.scss */
  header li {
    display: inline-block;
    margin: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
@media (min-width: 400px) {
  /* line 260, ../scss/style.scss */
  header {
    padding-left: 30px;
    padding-right: 30px;
  }
  /* line 265, ../scss/style.scss */
  header img {
    float: left;
  }
  /* line 269, ../scss/style.scss */
  header nav {
    float: right;
  }
  /* line 273, ../scss/style.scss */
  header li {
    display: inline-block;
    text-align: right;
  }
  /* line 278, ../scss/style.scss */
  header ul {
    text-align: right;
  }

  /* line 283, ../scss/style.scss */
  .img_box {
    width: 65%;
  }

  /* line 287, ../scss/style.scss */
  .text_box {
    float: right;
    margin-top: 20px;
    padding-top: 0;
  }

  /* line 293, ../scss/style.scss */
  .card {
    margin: 30px;
  }

  /* line 297, ../scss/style.scss */
  .info_box {
    margin: 30px;
    float: none;
  }

  /* line 302, ../scss/style.scss */
  .text {
    padding: 30px;
  }

  /* line 306, ../scss/style.scss */
  .source {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  /* line 309, ../scss/style.scss */
  .source a {
    font-size: 1.1em;
  }
}
@media (min-width: 500px) {
  /* line 317, ../scss/style.scss */
  .about .text, .contact .text {
    padding: 20px;
  }
}
@media (min-width: 550px) {
  /* line 325, ../scss/style.scss */
  .intro_img.work {
    width: 70%;
    float: left;
  }

  /* line 331, ../scss/style.scss */
  .text {
    float: left;
    width: 25%;
    padding: 0;
    margin-top: 7%;
  }
}
@media (min-width: 650px) {
  /* line 345, ../scss/style.scss */
  .card.layr, .card.one_col {
    float: left;
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
  }
  /* line 352, ../scss/style.scss */
  .card.about, .card.contact {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
  }

  /* line 359, ../scss/style.scss */
  .img_box {
    width: 100%;
  }
  /* line 361, ../scss/style.scss */
  .img_box img {
    margin: 0 auto;
  }

  /* line 367, ../scss/style.scss */
  .info_box h2 {
    text-align: center;
    font-size: 1.5em;
  }

  /* line 373, ../scss/style.scss */
  .move {
    padding-left: 5%;
  }

  /* line 377, ../scss/style.scss */
  .text_box {
    min-height: 370px;
  }

  /* line 381, ../scss/style.scss */
  .text {
    margin-top: 10%;
  }

  /* line 385, ../scss/style.scss */
  section {
    width: 29%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }
}
@media (min-width: 800px) {
  /* line 399, ../scss/style.scss */
  .text {
    margin-top: 11%;
  }
  /* line 401, ../scss/style.scss */
  .text h1, .text h3, .text h5 {
    font-size: 1.1em;
  }

  /* line 407, ../scss/style.scss */
  .intro_img.work {
    width: 65%;
  }

  /* line 413, ../scss/style.scss */
  .source a {
    font-size: 1.2em;
  }
}
@media (min-width: 1000px) {
  /* line 420, ../scss/style.scss */
  .card {
    max-width: 1000px;
    margin: 40px;
    display: block;
    float: none;
  }

  /* line 427, ../scss/style.scss */
  header {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1060px) {
  /* line 435, ../scss/style.scss */
  .card {
    margin: 40 auto;
  }
}
