/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/

.clearfix {
    zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/***** SITE STYLES *************/
/**********************************/

body {
	background: #a1a1a1;
}

header {
	background: #000000;
	padding: 20px;

	img {
		margin: 0 auto;
		display: block;
    	height: 50px;
	}

	ul {
		display: block;
		padding: 0;
		width: 100%;
    	text-align: center;
	}

	li {
		list-style: none;
		display: block;
		margin-top: 5px;
    	margin-bottom: 5px;
	}

	h2 {
		margin: 0;
	}

	a {
		color: #ffffff;
    	text-decoration: none;
    	display: block;
	}
}

footer {
	height: 50px;
	width: 100%;
	margin-top: 15px;
	background: #000000;
	float: right;
}

h1, h2, h3, h4, h5, p {
	font-family: "Helvetica", serif;
	font-weight: normal;
	font-size: 1em;
}

a {
	color: #000000;
}

h1 {
	font-weight: bold;
	color: #000000;
	margin: 0;
}

h3 {
	text-decoration: underline;
}

h5 {
	font-style: italic;
	margin: 0;
}

p {
	margin-top: 5px;
}

.open {
	font-family: 'Open Sans', sans-serif;
}

.arvo {
	font-family: 'Arvo', serif;
}

.banner {
	width: 100%;
    text-align: center;
    float: left;
   
    h1 {
    	border-top: #024862 solid 1px;
    	border-bottom: #024862 solid 1px;
    	font-weight: 100;
    	color: #ffffff;
    	font-size: 1.1em;
    	padding: 15px;
    }
}

.font {
	border-top: dotted 1px black;
    border-bottom: dotted 1px black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 50px;	
    text-align: center;
}

.card {
	margin: 20px;
    display: block;
    background: #ffffff;
    box-shadow: 0px 10px 5px #888888;
}

.intro_img {
	width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.img_box {
	float: left;
	width: 100%;
	img { 
		max-width: 100%;
    	margin: 0 auto;
    	max-height: 200px;
    	display: block;
	}
}

.text_box {
	float: right;
	width: 100%;
}

.info_box {
	float: right;
	margin: 20px;
	img {
		max-width: 90%;
	    margin: 0 auto;
	    display: block;
	}

	h2 {
		font-weight: bolder;
		font-size: 1.2em;
   		margin-top: 0;
	}

	h3 {
		font-style: italic;
		text-decoration: none;
		font-weight: bold;
		margin-bottom: 0;
	}
}

.text {
	padding: 20px;
}

.layr_dd {
	display: block;
	border-top: 1px solid #dadada;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
	
	h1, h2, h3, h4, h5, p {
		font-size: 0.9em;
	}

	h2 {
		font-weight: bold;
		font-style: italic;
	}
}

.layr_dd.hidden {
	opacity: 0;
    height: 0;
}

.package {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #dadada;
    padding: 15px;
    border-radius: 3px;
	img {
		margin: 15 auto;
		display: block;
		max-height: 200px;
    	max-width: 90%;
	}
	p {
		margin: 0;
	}
}

section {
	margin-bottom: 40px;
}

@media (min-width: 200px) {
	header li {
	    display: inline-block;
	    margin: 15px;
	    margin-bottom: 5px;
	    margin-top: 5px;
	   // border-bottom: solid #ffffff 2px;
	}
}

@media (min-width: 400px) {

	header {

		padding: 30px;

		img {
			float: left;
		}

		nav {
			float: right;
    		margin-top: 10px;
		}

		li {
			display: inline-block;
			text-align: right;
		}

		ul {
			text-align: right;
		}
	}

	.banner {
		margin-top: 20px;
	}

	.img_box {
	    width: 65%;
	}

	.text_box {
	    float: right;
	    margin-top: 20px;
	    padding-top: 0;
	}

	.card {
		margin: 30px;
		&.layr, &.one_col {
		    background-size: auto 65%;
		    background-position: 5% 50%; 
    	}
    } 

    .info_box {
	    margin: 30px;
	}

	.text {
	    padding: 30px;
	}
}

@media (min-width: 500px) {
	.about, .contact {
		.text {
			padding: 20px;
		}
	}
}

@media (min-width: 550px) {
	.intro_img {
		&.work {
			width: 70%;
			float: left;
		}
	}

	.text {
		float: left;
	    width: 25%;
	    padding: 0;
	    margin-top: 7%;
	}

}


@media (min-width: 650px) {
	//.banner h1 {
	//    font-size: 1.2em;
	//    padding: 25px;
	//}

	.card {
		&.layr, &.one_col {
			float: left;
		    width: 46%;
		    margin-right: 2%;
		    margin-left: 2%;
		}

		&.about, &.contact {
			margin-left: 2%;
		    margin-right: 2%;
		    width: 96%;
		}
	}

	.img_box {
    	width: 100%;
    	img {
    		margin: 0 auto;
    	}
	}

	.info_box {
		h2 {
			text-align: center;
		    font-size: 1.5em;
		}
	}

	.move {
		padding-left: 5%;
	}

	.text_box {
		 min-height: 370px;
	}

	.text {
		margin-top: 10%;
	}

	section {
		width: 29%;
	    float: left;
	    padding-left: 2%;
	    padding-right: 2%;
	    text-align: center;
	}
}

@media (min-width: 800px) {
//	.banner h1 {
//	    font-size: 1.5em;
//	}

	.text {
		margin-top: 11%;
		h1, h3, h5 {
			font-size: 1.1em;
		}
	}

	.intro_img{
		&.work {
			width: 65%;
		}
	}
}

@media (min-width: 1000px) {
	.card {
		max-width: 1000px;
    	margin: 40px;
    	display: block;
    	float: none;
	}

	header {
		padding: 40px;
	}	
}

@media (min-width: 1060px) {

	.card {
		margin: 40 auto;
	}
}








