@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
body * {
	box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, p {
	font-weight: 400;
}
.ticket-status {
    margin: 0;
    padding: 1rem 0;
    list-style: none;
    text-align: left;
}
.ticket-status li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 .5rem 0 0;
}
.ticket-status button {
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border-radius: 3px;
	border: 2px solid currentColor;
	color: #ececec;
	font-size: 1.125rem;
}
.ticket-status.open button.status-button_open {
	color: green;
}
.ticket-status.pending button.status-button_pending {
	color: orange;
}
.ticket-status.closed button.status-button_closed {
	color: #000;
}
.customer-ticket {
	text-transform: capitalize;
}
.customer-issue textarea {
	padding: .5rem;
	min-height: 200px;
	width: 100%;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}