/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/***** GENERIC STYLES *************/
/**********************************/

img{
    display: block;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
}

.button{
    text-align: center;
    color: $lilac;
    padding: 15px 20px;
    border-radius: 3px;
    background: #1d0643;
    text-decoration: none;
    margin: 0 auto;
    display: block;
}

.button:hover{
    background: $lilac;
    color: $indigo;
    border: 1px $indigo solid;
    border-radius: 3px;
}

.main_navigation{
    /*display: block;*/
    opacity: 1;
    height: auto;
    transition: opacity 1s;
}

.main_navigation.hidden{
    /*display: none;*/
    opacity: 0;
    height: 0;
}

.main_navigation ul{
    display: block;
    margin: 0;
    padding: 15px 0 0;
    list-style: none;
}

.main_navigation li{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    a {
        color: $lilac;
        text-decoration: none;
    }
}

.main_navigation li:hover {
    background: $lilac;
    a{
        color: $indigo;
    }
}

.main_navigation .button{
    display: block;
    background: #00b6f2;
    box-shadow: none;
}

.main_navigation .button:hover{
    background: #0084c8;
}

@media screen and (min-width: 400px) {
    .main_navigation li {
        display: inline-block;
        width: 49%;
    }
}

@media screen and (min-width: 600px) {
    .main_navigation.hidden {
        display: block;
        opacity: 1;
    }

    .button {
        display: none;
    }

    .main_navigation li {
        float: left;
        width: 25%;
    }
}

@media screen and (min-width: 800px) {
    .logo {
        float: left;
        width: 4em;
    }

    .main_navigation {
        float: right;
        width: 40em;
    }
}







