/* TYPOGRAPHY */

h1 {
	font-family: 'Alegreya', serif;
}

h3 {
	font-family: 'Alegreya', serif;
	font-size: 1.3em;
	margin-bottom: 10px;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 5px;
}

section {
	a {
		text-decoration: none;
		background: rgba(255, 255, 255, .7);
		font-weight: bold;
	}
}


