/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
section {
	padding-top: 0;
	padding-bottom: 0;
}

.light_pattern, .dark, .light {
	h1, h2, h3, h4, p, a {
		color: #000;
		font-family: 'Georgia', 'Times New Roman' , serif;
	}
	.number h2 {
		color: #000;
		font-family: 'Georgia', 'Times New Roman' , serif;
		font-size: 1em;
	}
	h1 {
		font-size: 1em;
		margin-top: 20px;
	}

	h3, p {
		font-size: .9em;
	}
}

//resume styles saved separately to preserve fonts:
.white {
	h1 {
		color: #000;
		font-family: 'Georgia', 'Times New Roman' , serif;
		font-size: 1em;
		margin-top: 20px;
	}
	.number h2 {
		color: #000;
		font-family: 'Georgia', 'Times New Roman' , serif;
		font-size: 1em;
	}
	h3, p {
		font-size: .9em;
	}
}


@page {
	margin: 0.5cm;
	margin-top: 1cm;
	margin-bottom: 1cm;
	width: 100%;
}

//header and footer not needed in print
header {
	display: none;
	.main_navigation {
		display: none;
	}
	.main_navigation.hidden{
		display: none; 
	}
}

footer {
	display: none;
}

.light_pattern {
	padding-top: 0;
}

.banner {
	box-shadow: none;
	border: #000 solid 2px;
}

.binder {
	width: 100%;
}

.skew_right {
	float: right;
}

//print resume on separate page
.print {page-break-after: always;}

//show links in print
p a:after {
	content: " [" attr(href) "] ";
}

