body {
	background-color: rgba(116, 185, 255, 0.65);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Permanent Marker', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black";
}
h1 {
	color: #FF9900;
}
[class*="u-contain-"] {
	max-width: 960px;
	margin: 0 auto;
}
.u-contain-1200 {
	max-width: 1200px;
}
.c-table {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.c-table__cell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.box-quote {
	height: 100vh;
	background-size: auto 90%;
	background-repeat: repeat-x;
	background-position: bottom center;
	background-image: url('../images/mtns2.svg');
}
.scenery-holder {
	background-size: auto 33%;
	background-repeat: repeat-x;
	background-position: bottom center;
	background-image: url('../images/trees.svg');
	box-sizing: border-box;
	padding-left: 1rem;
	padding-right: 1rem;
}
.h-quote {
	height: 53vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-image: url('../images/cloud2.svg');
	margin-bottom: 12vw;
}
.h-quote__text {
	text-align: center;
	padding: 1em 24vw;
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
	line-height: 1;
}
.quote-btn {
	display: block;
    box-sizing: border-box;
    padding: 0.75rem 2rem;
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
    border: none;
    margin: 0 auto;
	color: #fff;
	font-size: 1.25rem;
	background-color: #FF9900;
	text-align: center;
	text-decoration: none;
	font-family: 'Permanent Marker', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black";
}
.quote-btn span {
	box-sizing: border-box;
	padding-left: 0.1em;
	padding-right: 0.1em;
}
[class*="c-skew-"] {
	display: inline-block;
	vertical-align: middle;
	transition: transform 0.33s ease-in;
}
.is-flipped .c-skew-forward {
	-webkit-transform: rotateY(360deg); /* Safari */
    transform: rotateY(360deg);
}
.is-flipped .c-skew-backward {
	-webkit-transform: rotateY(-360deg); /* Safari */
    transform: rotateY(-360deg);
}

/*.quote-btn svg {
	color: #FF9900;
	font-family: 'Permanent Marker', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black";
	font-size: 70px;
    width: 100%;
    max-width: 400px;
    height: auto;
}
.quote-btn text {
	fill: #FF9900;
}*/
.footer-rights {
	box-sizing: border-box;
	padding: 0.75rem;
	text-align: center;
	color: #fff;
}